@use '@angular/material' as mat;

$my-primary: (
  50: #e0f7fe,
  100: #b3e9fd,
  200: #80dbfc,
  300: #4dcbfa,
  400: #26bffa,
  500: #00b3fa,
  600: #00a8f9,
  700: #009af8,
  800: #008cf6,
  900: #0073f4,
  contrast: (
    50: #000,
    100: #000,
    // ...etc
  )
);

// Just assign your palette when defining the theme, no function needed
html {
  @include mat.theme(
    (
      color: (
        primary: $my-primary,
        // accent, warn, tertiary, etc.
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
